@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    An Binh, Ninh Kieu, Can Tho<br />
    Student number: GCC19132<br />
    <abbr title="Phone">P:</abbr>
    0945395895
</address>

<address>
    <strong>Support:</strong>   <a href="nhanltgcc19132@fpt.edu.vn">nhanltgcc19132@fpt.edu.vn</a><br />
</address>