
@{
    ViewBag.Title = "OrderSuccess";
}

<h2>OrderSuccess</h2>
<h4>Order is successful, please wait for the goods to arrive from 3 to 5 days!</h4>
<div class="form-actions no-color">
    @Html.ActionLink("Continue Shopping", "Index","Home")
</div>

